form .errorMessage{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #B80000;
	font-size: 12px;
}

p.right-pos{
    float: right;
}

p.left-pos{
    float: left;
}


h5.panel.loggedin {
	font-family: 'Play', sans-serif;
	font-size: 14px;
}

.h3.title {
	font-family: 'Play', sans-serif;
	font-size: 20px;
	font-style: inherit;
}

div.form-group label {
	font-family: 'Play', sans-serif;
	font-size: 15px;
	font-style: inherit;
}

.panel-body.border-frame {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #727CAD;
	background-color: #7ADCF5;
	-webkit-box-shadow: #B3B3B3 12px 12px 12px;
	-moz-box-shadow: #B3B3B3 12px 12px 12px;
	box-shadow: #B3B3B3 12px 12px 12px;
	margin-bottom: 10%;
}

button.pd-size-smaller{
	padding: 5px 10px !important;
}

.st-locales {
	width: 20%;
	padding-top: 1%;
	padding-bottom: 4%;
	position: relative;
}

.st-locales-en {
	width: 20%;
	position: absolute;
	left: 0;
	text-align: right;
}

.st-locales-se {
	width: 60%;
	right: 0;
	position: absolute;
	text-align: left;
}

.middle {
	position: absolute;
	left: 50%;
	width: 10%;
}